<div class="map" style="background-image: url('<%= @flat.image %>')"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
     <div class="flat-show-card">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
     </div>
     <div class="flat-show-card">
      <h3>A propos de cet appartement</h3>
      <p><%= @flat.description %></p>
      <div class="map" style="background-image: url('<%= @flat.image %>')"></div>
     </div>
    </div>
    <div class="col-4">
      <div class="flat-show-card">
        <h3>Détails</h3>
        <div class="flex">
          <div class="infos"> <h6><%= @flat.number_of_guests %> <%= @flat.number_of_guests > 1 ? "Personnes" : "Personne" %></h6></div>
          <div class="infos"> <h6><%= @flat.price_per_night %> €</h6></div>
        </div>
      </div>
    </div>
  </div>
</div>
